<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS2 Control Macro -->
    <xacro:macro name="fws_ros2_control" params="prefix">

        <!-- Hardware -->
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <!-- Joints -->
        <joint name="${prefix}_steering_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="${prefix}_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

    </xacro:macro>

    <!-- ROS2 Control -->
    <ros2_control name="IgnitionSystem" type="system">
        <xacro:fws_ros2_control prefix="front_left" />
        <xacro:fws_ros2_control prefix="front_right" />
        <xacro:fws_ros2_control prefix="rear_left" />
        <xacro:fws_ros2_control prefix="rear_right" />
    </ros2_control>

    <!-- Ignition Gazebo -->
    <gazebo>
        <!-- Joint State Publisher -->
        <plugin filename="ign_ros2_control-system"
            name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find park_bot)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>