<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS2 Control Macro -->
    <xacro:macro name="fws_ros2_control" params="name prefix">
        <ros2_control name="${name}" type="system">

            <!-- Hardware -->
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>

            <!-- Joints -->
            <joint name="${prefix}_steering_joint">
                <command_interface name="steering_position">
                    <param name="min">{-2*pi}</param>
                    <param name="max">{2*pi}</param>
                </command_interface>
                <state_interface name="steering_position">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}_wheel_joint">
                <command_interface name="wheel_velocity">
                    <param name="min">-3.15</param>
                    <param name="max">3.15</param>
                </command_interface>
                <state_interface name="wheel_velocity" />
            </joint>

        </ros2_control>

    </xacro:macro>

    <!-- ROS2 Control -->
    <xacro:fws_ros2_control name="IgnitionSystem" prefix="front_left" />
    <xacro:fws_ros2_control name="IgnitionSystem" prefix="front_right" />
    <xacro:fws_ros2_control name="IgnitionSystem" prefix="rear_left" />
    <xacro:fws_ros2_control name="IgnitionSystem" prefix="rear_right" />

    <!-- Ignition Gazebo -->
    <gazebo>
        <!-- Joint State Publisher -->
        <plugin filename="ign_ros2_control-system"
            name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find park_bot)/config/fws_controller.yaml</parameters>
        </plugin>
    </gazebo>

</robot>